<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovieMax"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".LoginActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".Activity.HomeActivity"
            android:exported="false" />

        <activity
            android:name=".Activity.DetailsActivity"
            android:exported="false" />

        <activity
            android:name=".Activity.ShowTimeActivity"
            android:exported="true" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activity.BookingActivity"
            android:exported="true" />

        <activity
            android:name=".Activity.FoodActivity"
            android:exported="false" />

        <!-- Payment -->
        <activity
            android:name=".Activity.PaymentActivity"
            android:exported="true"
            android:launchMode="singleTop">

            <!-- Deep link cho MoMo callback -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="payment"
                    android:pathPrefix="/momo"
                    android:scheme="moviemax" />
            </intent-filter>

            <!-- Deep link cho ZaloPay callback -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="payment"
                    android:pathPrefix="/zalopay"
                    android:scheme="moviemax" />
            </intent-filter>
        </activity>

        <!-- Booking success -->
        <activity
            android:name=".Activity.BookingSuccessActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Booking failed -->

        <!-- After booking, show ticket -->
        <activity
            android:name=".Activity.TicketDetailActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <!-- Staff/admin dashboard -->
        <activity
            android:name=".Activity.DashboardActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Testing -->
        <activity
            android:name=".Activity.ImageUploadTestActivity"
            android:exported="false"
            android:label="Test Image Upload" />

    </application>
</manifest>
